<div class="container d-flex flex-row-reverse mt-5"  >
<% if current_user.nil? %>
  <%= link_to 'Sign in', new_user_session_path ,:class => "btn btn-secondary "%>

<% else%>
  <%= link_to 'Sign out', destroy_user_session_path, method:'delete',:class => "btn btn-secondary "%>
  <!--<%= link_to 'Sign up', new_user_registration_path %>-->
<% end %>
</div>
<div class="container text-center" style="margin-top: 100px;">
  <h1>게시판</h1>
  <hr>
  <a class="btn btn-secondary " href="/home/create" role="button">글쓰러가기</a>
    <a class="btn btn-secondary " href="/home/list" role="button">글목록가기</a>

</div>
